.with_border {
    border: 3px solid green;
}

.rounded {
    border-radius: 25px;
    padding: 10px; 
  }

  .highlighted {
    color: white;
    background: green;
    text-align: center;
  }

.button {
    background-color: green;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.image {
    vertical-align: middle;
    padding: 10px;
}

body {
    background-color: whitesmoke;
    color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span {
    display: inline-block;
}

/* div > * {
  vertical-align:middle;
} */

input[type='radio'] {
    accent-color: green;
}

/* canvas {
  padding-bottom: 40px;
}  */

#color-input {
  display: none;
}
#color-label {
  /* width: 60px;
  height: 25px;
  margin-left: 15px; */
  /* position: absolute; */
  top: 365px;
  left: 55px;
  /* height: 30px;
  width: 50px; */
} 
#color-input:checked ~ #color-picker {
  display: block;
  /* opacity: 1; */
}
#color-picker {
  position: absolute;
  left: 70px; 
  top: 30px;
  background-color: white;
  height: 150px;
  width: 185px;
  border: solid 1px green;
  /* opacity: 0; */
  display: none;
  padding: 5px;
}
canvas:hover {
  cursor: crosshair;
}




/* Markers */

.marker {
  /* position: absolute; */
  width: 200px;
  height: 25px;
  margin: 10px auto;
}

.cap {
  width: 60px;
  height: 25px;
}

.sleeve {
  width: 110px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  border-left: 10px double rgba(0, 0, 0, 0.75);
}

.cap, .sleeve {
  display: inline-block;
}

.red {
  /* background: linear-gradient(rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27)); */
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8);
}