.with_border {
    border: 3px solid green;
}

.rounded {
    border-radius: 25px;
    padding: 10px; 
  }

  .highlighted {
    color: white;
    background: green;
    text-align: center;
  }

.button {
    background-color: green;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.image {
    vertical-align: middle;
    padding: 10px;
}

body {
    background-color: whitesmoke;
    color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span {
    display: inline-block;
}

input[type='radio'] {
    accent-color: green;
}

#color-input {
  display: none;
}
#color-label {
  top: 365px;
  left: 55px;
} 
#color-input:checked ~ #color-picker {
  display: block;
}
#color-picker {
  position: absolute;
  left: 70px; 
  top: 30px;
  background-color: white;
  height: 150px;
  width: 185px;
  border: solid 1px green;
  display: none;
  padding: 5px;
}
canvas:hover {
  cursor: crosshair;
}

/* Markers */
.marker {
  width: 200px;
  height: 25px;
  margin: 10px auto;
}

.cap {
  width: 60px;
  height: 25px;
}

.sleeve {
  width: 110px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  border-left: 10px double rgba(0, 0, 0, 0.75);
}

.cap, .sleeve {
  display: inline-block;
}